<div class='text-center'>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>Written by {{blog.user}} on {{format_date date_created}}</p>
    <p>{{content}}</p>
    <!-- this comment part needs to be different-->
    <p>
    <button class="btn btn-primary">add comment</button> 
  </p>
</div>